@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Comfortaa", "Open Sans", sans-serif;
  --dark-color: rgb(58, 58, 63);
  --light-color: #F3F2F8;
  --light-red-color:rgb(230, 55, 55);
  --dark-red-color:rgb(145, 78, 78);
  
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto; /* прокрутка */
}

.main {
  min-height: calc(100vh - 60px);
  text-align: center;
  padding-bottom: 60px;
}

.navigation {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--not-theme-color);
  z-index: 1000;
}

.dark .navigation {
  border-top: 1px solid var(--theme-color)
}

.light .navigation {
  border-top: 1px solid var(--theme-color);
}
.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  gap: 0.5rem; 
  padding: 8px;
  cursor: pointer;
  max-height: 48px;
}

.nav-text {
  font-size: small;
}

button {
  all: unset;
}

.title {
    min-height: 2rem;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.light { 
  background: var(--light-color);
  --theme-color: var(--dark-color);
  --not-theme-color: var(--light-color);
  --red-color: var(--light-red-color);
  color: var(--dark-color)
  
}

.dark { 
  background: var(--dark-color);
  --theme-color: var(--light-color);
  --not-theme-color: var(--dark-color);
  --red-color: var(--dark-red-color);
  color: var(--light-color);
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  gap: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
  color: var(--theme-color);
}

.back-btn {
  position: absolute;
  left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.submit-btn {
  margin-top: auto;
  width: 80%;
  background: #99BBFE;
  color: #fff;
  border: none;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.submit-btn:disabled {
  opacity: 0.7;
  cursor: default;
}